@font-face {
    font-family: 'Madimi';
    src: url('./fonts/MadimiOne.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: url('./images/beans.jpg');
}

.nav-button {
    background-color: antiquewhite;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }
  
.nav-button:active {
    background-color: #f5deb3;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cat-left {
    transform: scaleX(-1);
}

.cat-left, .cat-right {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding-bottom: 15px;
}

.home-cat {
    content: url("./images/cat1.png");
}

.menu-cat {
    content: url("./images/cat2.png");
}

.contact-cat {
    content: url("./images/cat3.png");
}

#content {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 10px 40px 20px 40px;
    border-radius: 12px;
    background-color: antiquewhite;

    font-family: 'Madimi', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: 10px;
    background-image: url('./images/paw.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-size: 20px;
}